/* Variables */
:root {
  --primary-color: #333;
  --secondary-color: #666;
  --border-color: #eee;
  --accent-color: rgb(5, 127, 234);
  --success-color: rgb(14, 150, 14);
  --light-success-color: rgb(216, 255, 216);
  --error-color: rgb(176, 20, 20);
  --light-error-color: rgb(255, 216, 221);
  --background-color: white;
  --hover-background-color: #f6f6f6;
}

/* Reset styles and global styles */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Body styles */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px;
  gap: 1rem;
  color: var(--primary-color);
}

/* Input styles */
.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 16px;
  border-radius: 30px;
  width: 400px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}

.input input {
  border: none;
  outline: none;
  padding: 8px;
  width: 80%;
  background-color: transparent;
}

.input button {
  cursor: pointer;
  padding-bottom: 3px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  width: 40px;
  height: 40px;
  font-size: 28px;
  color: var(--secondary-color);
  background-color: var(--background-color);
  font-weight: bold;
  transition: 300ms;
}

.input button:hover {
  background-color: var(--hover-background-color);
  color: var(--primary-color);
}

/* List styles */
#list {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 400px;
  height: 400px;
  border: 1px solid var(--border-color);
  border-radius: 24px;
  padding: 16px;
  overflow-y: scroll;
}

/* Task styles */
.task {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  border-radius: 16px;
  transition: 300ms;
}

.task:hover {
  background-color: var(--hover-background-color);
}

.task div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.task div input {
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.task i {
  cursor: pointer;
  color: var(--secondary-color);
  transition: 300ms;
  font-size: 14px;
}

.task i:hover {
  scale: 1.2;
  color: var(--error-color);
}

/* Empty state */
.empty {
  padding: 32px 0;
  text-align: center;
  color: var(--secondary-color);
}

/* Completed task style */
.done {
  color: var(--secondary-color);
  text-decoration: line-through;
}

/* Actions container */
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
}

/* Tools container */
.tools {
  position: relative;
  z-index: 2;
}

/* Settings button */
.settings {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  font-size: 24px;
  transition: 300ms;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.settings::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  scale: 0;
}

.tools:hover .settings {
  scale: 1.1;
  transform: rotate(20deg);
  background-color: var(--hover-background-color);
  color: var(--primary-color);
}

.tools:hover .settings::after {
  scale: 1;
}

/* Clear button */
.clear,
.hide {
  z-index: -1;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  scale: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 50%;
  font-size: 20px;
  transition: 300ms;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

.clear::before,
.hide::before {
  pointer-events: none;
  position: absolute;
  width: 100px;
  font-size: 12px;
  opacity: 0;
  transition: 300ms;
}

.clear::before {
  content: "Delete All";
  left: 33px;
  top: 6px;
}

.hide::before {
  content: "Toggle Done";
  left: -75px;
  top: 6px;
}

.clear:hover {
  color: var(--error-color);
}
.hide:hover {
  color: var(--accent-color);
}

.clear:hover::before,
.hide:hover::before {
  opacity: 1;
}

.clear::after,
.hide::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.tools:hover .clear,
.tools:hover .hide {
  scale: 1;
  opacity: 1;
  bottom: 50px;
}
.tools:hover .clear {
  right: -15px;
}
.tools:hover .hide {
  right: 30px;
}

/* Progress styles */
.progress {
  padding: 8px;
  font-size: 14px;
  width: 80%;
}

.progress-text {
  margin-bottom: 8px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background-color: var(--border-color);
}

.progress-percentage {
  height: 100%;
  width: 0%;
  border-radius: 8px;
  transition: 300ms;
  background-color: var(--accent-color);
}

/* Notification styles */
.noti {
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  bottom: -100px;
  width: 400px;
  padding: 16px;
  border-radius: 16px;
  font-size: 14px;
}

.add-noti {
  color: var(--success-color);
  background-color: var(--light-success-color);
  border: 1px solid var(--success-color);
}

.delete-noti {
  color: var(--error-color);
  background-color: var(--light-error-color);
  border: 1px solid var(--error-color);
}

/* Delete Confirmation */

.delete-msg-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #00000009;
}

.delete-msg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  width: 450px;
}

.delete-msg p {
  text-align: center;
  margin: 28px 0;
}

.delete-msg p span {
  color: var(--accent-color);
}

.delete-msg div {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.delete-msg div button {
  cursor: pointer;
  padding: 8px;
  width: 120px;
  border-radius: 4px;
  border: none;
  transition: 300ms;
}

.delete-msg div #deleteBtn {
  background-color: var(--light-error-color);
  color: var(--error-color);
}

.delete-msg div #deleteBtn:hover {
  background-color: var(--error-color);
  color: white;
}

.delete-msg div #cancelBtn:hover {
  background-color: #ddd;
}
